<div [@moveDown]="state" id="hidden-header-background" class="bg-white w-100">Test</div>
<header class="container-fluid pt-3 pb-3">
  <nav [@shiftUp]="state" class="d-none d-md-flex navbar align-items-center">
    <ul class="nav col-5 d-flex justify-content-center">
      <li class="nav-item active">
        <a [@recolor]="state" class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item active">
        <a [@recolor]="state" class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item active">
        <a [@recolor]="state" class="nav-link" href="#">Results</a>
      </li>
    </ul>
    <div class="nav col-2 d-flex justify-content-center">
      <img [@swapLogo]="state" src="../../assets/jcc-logo-sm-black.png" alt="Joga Chiropractic Center" />
    </div>
    <ul class="nav col-5 d-flex justify-content-center">
      <li class="nav-item active">
        <a [@recolor]="state" class="nav-link" href="#">Test1</a>
      </li>
      <li class="nav-item active">
        <a [@recolor]="state" class="nav-link" href="#">Test2</a>
      </li>
      <li class="nav-item active">
        <a [@recolor]="state" class="nav-link" href="#">Test3</a>
      </li>
    </ul>
  </nav>

  <!-- small devices -->
  <nav [@shiftUp]="state" class="d-sm-flex d-md-none navbar align-items-center">
    <button type="button" class="nav d-flex btn-default col justify-content-center">Test!</button>
    <div class="nav col d-flex justify-content-center">
      <img [@swapLogo]="state" src="../../assets/jcc-logo-sm-black.png" alt="Joga Chiropractic Center" />
    </div>
    <button type="button" class="nav d-flex btn-default col justify-content-center">Test2!</button>
  </nav>
</header>
