@import "~bootstrap/scss/bootstrap";
@import "../../styles.scss";

.logo {
  height: 100px;
  width: 100px;
  background-image: url('../../assets/jcc-logo-md.png');
}

.logo-detail {
  height: 100px;
  width: 100px;
  background-image: url('../../assets/jcc-logo-md.png');
  transform: scale(0.8);
}

.navbar {
  background: none;
  padding: 0;
}

header {
  background-color: transparent;
  position: fixed;
  z-index: $zindex-fixed;
  height: 100px;
}

.header-recolor {
  background-color: rgb(128, 197, 184);
}

a {
  color: white;
}

li {
  display: flex;
  height: 50px;
  align-items: center;
}

#hidden-header-background {
  position: fixed;
  height: 80px;
  top: -80px;
  z-index: $zindex-sticky;
}

#hamburger {
  height: 50px;
  width: 50px;
}

#hamburger:hover {
  filter: invert(100%);
}

.modal-open {
  overflow: hidden;
}

#mobile-menu {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: -100%;
  background-color: white;
  z-index: $zindex-modal;
}

/*Don't own ngb popover el, so must access through shadow DOM*/
:host {
  /deep/ .popover {
    max-width: 100%;
    border-radius: 0;
    border-style: normal;
    box-shadow: inset 0 0 0 10px $jcc-green;
  }

 /deep/ .arrow::after {
   border-bottom-color: $jcc-green;
 }

 /deep/ .arrow::before {
   opacity: 0;
 }
}

