<div [@moveDown]="state" id="hidden-header-background" class="bg-white shadow w-100"></div>
<header class="container-fluid pt-3 pb-3">
  <nav [@shiftUp]="state" class="d-none d-xl-flex flex-nowrap mx-auto navbar align-items-center">
    <ul class="nav col text-nowrap flex-nowrap justify-content-end text-center">
      <li class="nav-item active" (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)" *ngFor="let item of navListLeft; let index of i">
        <a [@recolor]="state" class="nav-link font-weight-light" tabindex=0 [ngbPopover]="popover" triggers="manual" placement="bottom" #p="ngbPopover"  href="#">{{item}}</a>
      </li>
    </ul>
    <div class="nav col-2 justify-content-center">
      <a href="/home">
        <div id="logo" [@swapLogo]="state"></div>
      </a>
    </div>
    <ul class="nav col justify-content-start text-nowrap flex-nowrap">
      <li class="nav-item active" (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)" *ngFor="let item of navListRight; let index of i">
        <a [@recolor]="state" class="nav-link font-weight-light" tabindex=0 [ngbPopover]="popover" triggers="manual" placement="bottom" #p="ngbPopover"  href="#">{{item}}</a>
      </li>
    </ul>
  </nav>

  <!-- small devices -->
  <nav [@shiftUp]="state" class="d-sm-flex d-xl-none navbar align-items-center">
    <a href="#" class="nav col">
      <img id="hamburger" src="../../assets/menu.png" alt="menu" />
    </a> 
    <div class="nav col justify-content-center">
      <img [@swapLogo]="state" src="../../assets/jcc-logo-md.png" alt="Joga Chiropractic Center" />
    </div>
    <div class="nav col justify-content-center">
      <a href="tel:+14248002488">
        <img src="../../assets/phone-icon.png" alt="telephone" />
      </a>
    </div> 
  </nav>
</header>

<ng-template #popover>
  <app-popover [linkName]="navList[currPopIndex]"></app-popover>
</ng-template>
