@import "~bootstrap/scss/bootstrap";
@import "../../styles.scss";

#logo {
  height: 100px;
  width: 100px;
  background-image: url('../../assets/jcc-logo-md.png');
}

.navbar {
  background: none;
}

header {
  background-color: transparent;
  position: fixed;
  z-index: $zindex-fixed;
  height: 100px;
}

a {
  color: white;
}

li {
  height: 50px;
}

#hidden-header-background {
  position: fixed;
  height: 80px;
  top: -80px;
  z-index: $zindex-sticky;
}

#hamburger {
  height: 50px;
  width: 50px;
}

#hamburger:hover {
  filter: invert(100%);
}

/*Don't own ngb popover el, so must access through shadow DOM*/
:host {
  /deep/ .popover {
    max-width: 100%;
    border-radius: 0;
    border-style: normal;
    box-shadow: inset 0 0 0 10px $jcc-green;
  }

 /deep/ .arrow::after {
   border-bottom-color: $jcc-green;
 }

 /deep/ .arrow::before {
   opacity: 0;
 }
}

