<div class="container-fluid">
  <div class="row pb-4 w-sm-75 w-100 border-top mx-auto">
    <div id="social-media" class="col-12 col-sm text-center text-sm-left">
      <span class="d-block h-50 font-weight-bold pt-3 pb-3">We're on social media!</span>
      <a href="#">
        <img src="../../assets/fb-icon.png" alt="Facebook">
      </a>
      <a href="#">
        <img src="../../assets/instagram-icon.png" alt="Instagram" />
      </a>
      <a href="#">
        <img src="../../assets/yelp-icon.png" alt="Yelp" />
      </a>
    </div>
    <div id="copyright" class="col-12 col-sm text-center text-sm-right">
      <span>© 2018 Joga Chiropractic Center - all rights reserved.</span>
    </div>
  </div>
</div>
