@import '~bootstrap/scss/bootstrap';

.container-fluid {
  width: 75%;
}

.nav-item {
  font-size: 0.9em;
}

.nav-title {
  font-size: 0.7em;
}

#social-media > a {
  padding-left: 5px;
  padding-right: 5px;
}

.social-media-img {
  margin: 0;
}

#copyright > div {
  font-size: 0.85em;
  position: absolute;
  bottom: 0;
  right: 5px;
}

ul {
  list-style: none;
}

#mobile-list-items {
  font-size: 0.9em;
}

@include media-breakpoint-down(md) {
  .container-fluid {
    width: 100%;
  }
}

@include media-breakpoint-down(sm) {
  li {
    font-size: 0.8em;
  }

  #social-media > a {
    position: relative;
    display: inline-block;
    margin-top: -10px;
  }

  img {
    transform: scale(0.8);
  }
}
