#social-media {
  padding-left: 0;
}

#social-media > a {
  padding-left: 5px;
  padding-right: 5px;
}

#copyright > span {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.row {
  position: relative;
}
