<div class="container-fluid">  
  <ul class="navbar-nav d-inline-block p-5 pt-4">
    <li id="popover-title" class="nav-item active text-secondary text-uppercase mb-1 p-1">{{linkName}}</li>
    <li class="nav-item active items text-nowrap p-0" *ngFor="let item of displayContent()">
      <div *ngIf="linkName != 'Blog'; else disabled">
        <a class="nav-link p-1 font-weight-bold text-dark" href="{{urlName(linkName)}}/{{urlName(item)}}">{{item}}</a>
      </div>

      <ng-template #disabled>
        <span class="nav-link p-1 font-weight-bold text-dark">{{item}}</span>
      </ng-template>
    </li>
  </ul>
</div>
