@import '~bootstrap/scss/bootstrap';
@import '../../styles.scss';

.container-fluid {
  background-color: $jcc-green;
  height: 100vh;
}

ul {
  list-style: none;
}

.card-header {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

.card {
  border-style: none;
  background-color: transparent;
}

.btn-link {
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
}

#close-btn {
  font-size: 2em;
}
