<div class="container-fluid">
  <div class="row pt-3">
    <div
      class="col d-flex align-items-center justify-content-start pl-4"
    >
      <h1 class="font-weight-bold mb-0 text-white">Menu</h1>
      <hr />
    </div>
    <div
      class="col d-flex pr-3 justify-content-end align-items-center"
    >
      <a
        class="text-white"
        id="close-btn"
        (click)="header.toggleMenu()"
        >&#10761;</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col" id="mobile-menu-accordion">
      <div
        class="card"
        *ngFor="let menuItem of menuItems; let i = index"
      >
        <div
          class="card-header pb-1"
          (click)="menuItem.isCollapsed = !menuItem.isCollapsed"
          [ngClass]="{ active: !menuItem.isCollapsed }"
        >
          <h5 class="mb-0">
            <button
              class="btn btn-link text-white font-weight-bold"
              type="link"
              [attr.aria-expanded]="false"
              [attr.aria-controls]="'collapse' + i"
            >
              {{ menuItem.item }}
            </button>
          </h5>
        </div>
        <div
          id="collapse{{ i }}"
          [ngbCollapse]="menuItem.isCollapsed"
        >
          <div class="card-body pb-0 pt-0">
            <ul class="mb-0">
              <li
                class="pb-2 pt-2"
                *ngFor="let child of menuItem.children"
              >
                <a
                  routerLink="{{
                    popoverService.urlName(menuItem.item)
                  }}/{{ popoverService.urlName(child) }}"
                  (click)="header.toggleMenu()"
                  class="text-white font-weight-bold"
                  >{{ child }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
