@import '~bootstrap/scss/bootstrap';

h1 {
  color: white;
}

#map {
  height: 250px;
  width: 100%;
}

@include media-breakpoint-up(lg) {
  #map {
    height: 350px;
    width: 750px;
  }
}

span {
  color: white;
  font-size: 1.1em;
}

.btn-lg {
  border-radius: 0;
}
