@import '~bootstrap/scss/bootstrap';

.service-section {
  height: 45vh;
}

#quote-text {
  font-size: 1.1em;
}

#quote-author {
  font-size: 0.7em;
}

#massage-therapy {
  background-image: url('../../assets/massage-therapy.jpg');
}

#wellness-care {
  background-image: url('../../assets/wellness-care.jpg');
}

#sports-chiropractic {
  background-image: url('../../assets/sports-chiro.jpg');
}

#prenatal-care {
  background-image: url('../../assets/prenatal-care.jpg');
}

#graston-technique {
  background-image: url('../../assets/graston-technique.jpg');
}

#rocktape {
  background-image: url('../../assets/rocktape.jpg');
}

#senior-care {
  background-image: url('../../assets/senior-care.jpg');
}

.service-image {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@include media-breakpoint-down(md) {
  .service-image {
    background-attachment: scroll;
  }
}
