<div class="container-fluid d-flex">
  <div class="row bg-dark">
    <div
      class="col bg-white justify-content-center p-0 pt-3 p-md-3 pt-md-0 contact-wrapper"
    >
      <div class="row pb-4 mt-md-4">
        <div class="col text-center">
          <h3 class="d-inline">Contact Us</h3>
          <a class="float-right mt-2" id="close-btn" (click)="close()"
            >&#10761;</a
          >
        </div>
      </div>
      <div class="row pb-4 px-0 px-md-3">
        <div class="col">
          <form
            [formGroup]="contactForm"
            (ngSubmit)="submitForm()"
            *ngIf="!sentForm; else postSubmit"
          >
            <div class="row pb-3">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  formControlName="firstName"
                  id="firstName"
                  placeholder="First Name"
                />
                <div
                  *ngIf="
                    contactForm.controls.firstName.invalid &&
                    (contactForm.controls.firstName.dirty ||
                      contactForm.controls.firstName.touched)
                  "
                >
                  <span class="text-danger"
                    >First Name is required</span
                  >
                </div>
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  formControlName="lastName"
                  id="lastName"
                  placeholder="Last Name"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    contactForm.controls.lastName.invalid &&
                    (contactForm.controls.lastName.dirty ||
                      contactForm.controls.lastName.touched)
                  "
                >
                  <span>Last Name is required</span>
                </div>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col">
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  id="email"
                  placeholder="Email"
                />
                <div
                  *ngIf="
                    contactForm.controls.email.invalid &&
                    (contactForm.controls.email.dirty ||
                      contactForm.controls.email.touched)
                  "
                >
                  <span class="text-danger">
                    Email is invalid
                  </span>
                </div>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col">
                <input
                  type="tel"
                  class="form-control"
                  id="tel"
                  formControlName="phoneNumber"
                  placeholder="Phone Number"
                />
                <div
                  *ngIf="
                    contactForm.controls.phoneNumber.invalid &&
                    (contactForm.controls.phoneNumber.dirty ||
                      contactForm.controls.phoneNumber.touched)
                  "
                >
                  <span class="text-danger">
                    Phone Number is invalid
                  </span>
                </div>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col">
                <textarea
                  class="form-control"
                  rows="5"
                  id="message"
                  formControlName="message"
                  placeholder="Message"
                ></textarea>
                <div
                  *ngIf="
                    contactForm.controls.message.invalid &&
                    (contactForm.controls.message.dirty ||
                      contactForm.controls.message.touched)
                  "
                >
                  <span class="text-danger">Message is required</span>
                </div>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col recaptcha-wrapper">
                <re-captcha
                  id="captcha"
                  formControlName="captcha"
                ></re-captcha>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="pb-4" *ngFor="let error of errors">
                  <span class="text-danger">{{ error }}</span>
                </div>
                <mat-spinner
                  class="spinner"
                  *ngIf="isSubmitted"
                  color="primary"
                ></mat-spinner>
                <input
                  type="submit"
                  class="form-control"
                  [hidden]="isSubmitted"
                  [disabled]="contactForm.invalid"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #postSubmit>
  <div>
    Thank you for contacting Joga Chiropractic Center. We will respond
    to your inquiry shortly.
  </div>
</ng-template>
