@import '~bootstrap/scss/bootstrap';
@import '../../styles.scss';

/* Represents modal */
.container-fluid {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
}

.form-control {
  border-radius: 0;
}

.spinner {
  margin: auto;
  margin-bottom: 20px;
}

@include media-breakpoint-down(sm) {
  .contact-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
  }
}

@include media-breakpoint-only(xs) {
  /* Represents ReCaptcha visual */
  /deep/ #captcha > div:first-child {
    transform: scale(0.9);
  }

  .recaptcha-wrapper {
    display: flex;
    justify-content: center;
  }
}
