<ng-container *ngTemplateOutlet="contactmodal"></ng-container>
<ng-container *ngTemplateOutlet="bookapptmodal"></ng-container>
<div id="main" class="container-fluid">
  <div class="text-center font-weight-bold justify-content-center" id="main-content">
    <div id="main-quote" class="mb-4 text-white text-center">
      <h1>Feel Great & Pain-free</h1>
      <h5>Joga Chiropractic Welcomes You</h5>
    </div>
    <button type="button" (click)=toggleBookingForm() class="btn btn-outline-light mb-3 ml-1 mr-1">Book Appointment</button>
    <button type="button" (click)=toggleContactForm() class="btn btn-outline-light mb-3 ml-1 mr-1">Contact Us</button>
  </div>
</div>

<ng-template #contactmodal>
  <app-contact [@show-contact-form]="contactState" [main]="main" id="contact-modal"></app-contact>
</ng-template>

<ng-template #bookapptmodal>
  <app-book-appt [@show-booking-form]="bookingState" id="book-appt-modal" (modalClosed)="bookingState = $event"></app-book-appt>
</ng-template>
