<div class="container-fluid">
  <div class="row bg-jcc-green align-self-center pt-5"> 
    <div class="col text-center">
      <h1>Schedule an Appointment</h1>
      <span class="d-block pb-1">Visit us at our Westchester location</span>
      <button type="button" class="mt-1 mb-4 btn-lg btn-outline-light">Book Now</button>
      <span class="d-block font-weight-bold">Joga Chiropractic Center</span>
      <span class="d-block pb-3 font-weight-bold">8929 S Sepulveda Blvd #100 Los Angeles, CA 90045</span>
      <div id="map" class=" mx-auto mb-5" #map></div>
    </div>
  </div>
</div>
