<div class="container text-content w-lg-75">
  <div class="py-md-4 content-wrapper">
    <div class="row d-none d-md-flex">
      <div class="col-md-6 col-lg">
        <h1 class="font-weight-bold employee-header">
          Dr. Viktorija Joga
        </h1>
        <hr class="main-rule ml-md-0 ml-auto" />
        <div *ngTemplateOutlet="jogaintrotext"></div>
        <hr />

        <!--SHOW BIO CONTENT IN COL WHEN LG-->
        <div class="d-none d-lg-block">
          <div *ngTemplateOutlet="jogabio"></div>
        </div>
        <!--BIO CONTENT AS COL WHEN LG-->
      </div>
      <div class="col-6">
        <img
          class="mw-100"
          src="assets/employee-images/DrJoga.jpg"
          alt="Picture of Dr. Viktorija Joga"
        />
      </div>
    </div>

    <!-- SHOW BIO CONTENT AS ROW WHEN MD-->
    <div class="row d-none d-md-block d-lg-none">
      <div class="col text-justify">
        <div *ngTemplateOutlet="jogabio"></div>
      </div>
    </div>
    <!--END BIO CONTENT AS ROW WHEN MD -->

    <!--MOBILE CONTENT LAYOUT-->
    <div class="row justify-content-center d-md-none">
      <div class="col-12 col-md-6">
        <div class="col-12 col-md-6">
          <img
            class="mw-100"
            src="assets/employee-images/DrJoga.jpg"
            alt="Picture of Dr. Viktorija Joga"
          />
        </div>
        <h1 class="font-weight-bold text-center">
          Dr. Viktorija Joga
        </h1>
        <hr class="main-rule ml-auto" />
        <div class="text-justify">
          <div *ngTemplateOutlet="jogaintrotext"></div>
        </div>
        <hr />
        <div class="text-justify">
          <div *ngTemplateOutlet="jogabio"></div>
        </div>
      </div>
      <div class="col-12 col-md-6 d-none d-md-block">
        <img
          class="mw-100"
          src="assets/employee-images/DrJoga.jpg"
          alt="Picture of Dr. Viktorija Joga"
        />
      </div>
    </div>
    <!--END MOBILE CONTENT LAYOUT-->

    <div class="px-md-5">
      <div class="row pt-5 text-center w-lg-75">
        <div class="col">
          <h1 class="font-weight-bold">Meet the Team</h1>
          <hr class="main-rule" />
        </div>
      </div>
      <div
        class="row pt-5 w-lg-75"
        *ngFor="let employee of employees"
      >
        <div class="col-12 col-md-4">
          <img
            class="mw-100"
            src="{{ employee.photo }}"
            alt="{{ employee.name }} photo"
          />
        </div>
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col text-center text-md-left">
              <h3
                class="font-weight-bold employee-header align-text-top mt-2 mt-md-0 mb-4"
              >
                {{ employee.name }}
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col employee-bio">
              <p class="text-justify text-lg-left">
                {{ employee.bio }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #jogabio>
  <p>
    Dr. Viktorija Joga graduated from Wittenberg University with a
    Bachelor of Arts in Biophysics and completed her studies in
    Radiation Therapy at Harvard Medical School. In 1989, she earned
    her Doctorate from the Palmer College of Chiropractic in
    Davenport, Iowa. During her time there, she served on staff at the
    college in the x-ray and diagnostics department. She is proficient
    in Rock Tape Kinesiotaping, Graston Therapy, myofascial and Active
    Release Technique, Activator, SOT, Thompson Drop and McKenzie
    protocol. Her emphasis is on proper diagnosis and customized
    patient care programs.
  </p>
  <p>
    She presently resides in Redondo Beach with her husband and her
    two college age children and is active in the Rotary Club of
    Westchester, as well as a variety of organizations affiliated with
    her Lithuanian heritage. She actively pursues activities that give
    back to the communities through Service above Self.
  </p>
</ng-template>

<ng-template #jogaintrotext>
  <div class="text-justify">
    <p class="font-italic">
      Experiencing life to the fullest requires health and wellbeing.
      It is my mission as a Chiropractor to help individuals not only
      achieve optimal health, but to also embrace wellbeing, which
      requires a more holistic analysis of an individual’s emotional
      and physical health.
    </p>
    <p class="font-italic">
      The body is complex, and each section of the body doesn’t
      function independently. It’s critical to consider not only the
      muscular-skeletal dynamics in the body, but also the external
      factors that might be affecting the body emotionally and
      environmentally. Chiropractic care encompasses careful analysis
      and diagnosis of the body, resulting in more effective
      customized treatment plans resulting in more successful results
    </p>
  </div>
</ng-template>
