@import 'styles/variables';
@import '~bootstrap/scss/bootstrap';

.content-wrapper {
  position: relative;
  margin-top: 125px;
}

.main-content {
  font-size: 0.9em;
}

.main-rule {
  width: 50%;
  border-top-color: rgb(128, 197, 184);
  border-top-width: 2px;
}

.secondary-content {
  font-size: 0.8em;
}

.employee-header {
  font-family: 'Philosopher', 'Raleway', 'Helvetica Neue', sans-serif;
}

.employee-bio {
  white-space: pre-line;
  font-size: 1.3em;
  word-wrap: break-word;
}

@include media-breakpoint-down(md) {
  .employee-bio {
    font-size: 1em;
    line-height: 1em;
  }
}
