<div class="container w-lg-75">
  <div class="py-md-4 content-wrapper">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 main-content">
        <div class="col-12 col-md-6 d-block d-md-none">
          <img
            class="mw-100"
            src="assets/employee-images/DrJoga.jpg"
            alt="Picture of Dr. Viktorija Joga"
          />
        </div>
        <h1 class="text-center text-md-left font-weight-bold">
          Dr. Viktorija Joga
        </h1>
        <hr class="main-rule ml-md-0 ml-auto" />
        <p class="font-italic">
          Experiencing life to the fullest requires health and
          wellbeing. It is my mission as a Chiropractor to help
          individuals not only achieve optimal health, but to also
          embrace wellbeing, which requires a more holistic analysis
          of an individual’s emotional and physical health.
        </p>
        <p class="font-italic">
          The body is complex, and each section of the body doesn’t
          function independently. It’s critical to consider not only
          the muscular-skeletal dynamics in the body, but also the
          external factors that might be affecting the body
          emotionally and environmentally. Chiropractic care
          encompasses careful analysis and diagnosis of the body,
          resulting in more effective customized treatment plans
          resulting in more successful results
        </p>
        <hr />
        <p>
          Dr. Viktorija Joga graduated from Wittenberg University with
          a Bachelor of Arts in Biophysics and completed her studies
          in Radiation Therapy at Harvard Medical School. In 1989, she
          earned her Doctorate from the Palmer College of Chiropractic
          in Davenport, Iowa. During her time there, she served on
          staff at the college in the x-ray and diagnostics
          department. She is proficient in Rock Tape Kinesiotaping,
          Graston Therapy, myofascial and Active Release Technique,
          Activator, SOT, Thompson Drop and McKenzie protocol. Her
          emphasis is on proper diagnosis and customized patient care
          programs.
        </p>
        <p>
          She presently resides in Redondo Beach with her husband and
          her two college age children and is active in the Rotary
          Club of Westchester, as well as a variety of organizations
          affiliated with her Lithuanian heritage. She actively
          pursues activities that give back to the communities through
          Service above Self.
        </p>
      </div>
      <div class="col-12 col-md-6 d-none d-md-block">
        <img
          class="mw-100"
          src="assets/employee-images/DrJoga.jpg"
          alt="Picture of Dr. Viktorija Joga"
        />
      </div>
    </div>
    <div class="secondary-content px-md-5">
      <div class="row pt-5 text-center w-lg-75">
        <div class="col">
          <h1 class="font-weight-bold">Meet the Team</h1>
          <hr class="main-rule" />
        </div>
      </div>
      <div
        class="row pt-5 w-lg-75"
        *ngFor="let employee of employees"
      >
        <div class="col-12 col-md-4">
          <img
            class="mw-100"
            src="{{ employee.photo }}"
            alt="{{ employee.name }} photo"
          />
        </div>
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col">
              <h3
                class="font-weight-bold employee-header mt-2 mt-md-0 mb-4"
              >
                {{ employee.name }}
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col employee-bio">
              <p class="text-left">{{ employee.bio }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
