@import "~bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin: auto;
}

.bg-jcc-green {
  background-color: rgb(3, 63, 45);
}

@include media-breakpoint-down(xs) {
  h1 {
    font-size: 7vw;
  }
}
