@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/purple-green.css";

/* You can add global styles to this file, and also import other style files */
$jcc-green: rgb(3, 63, 45);

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  overflow-x: hidden;
}

.hide-scrollbar {
  overflow: hidden;
}

.content-wrapper {
  position: relative;
  margin: auto;
  margin-top: 125px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin: auto;
}

.bg-jcc-green {
  background-color: rgb(3, 63, 45);
}

.text-jcc-green {
  color: rgb(3, 63, 45);
}

.btn-lg {
  border-radius: 0;
  border-style: solid;
}

.phil {
  background-color: rgb(128, 197, 184);
}

.dot, .dot::before, .dot::after {
  position: relative;
  background-color: white;
  height: 4px;
  width: 4px;
  border-radius: 50%;
}

.dot {
  border-top: 0;
  border-bottom: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dot::before  {
  position: absolute;
  content: '';
  top: 0;
  left: -14px;
}

.dot::after {
  position: absolute;
  content: '';
  top: 0;
  right: -14px;
}


@include media-breakpoint-down(xs) {
  h1 {
    font-size: 8vw;
  }

  h3 {
    font-size: 6vw;
  }

  h5 {
    font-size: 5vw;
  }
}

/*@include media-breakpoint-down(sm) {
    .content-wrapper {
        width: 100%;
    }
}

@include media-breakpoint-down(lg) {
    .content-wrapper {
        width: 75%;
    }
}*/
