#triangle {
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: 20px solid white;
}

.container {
  background-image: url('../../../assets/front.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
